<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head', { title: "Formulario de Login"}) %>
<body>
	<%- include('../partials/headerNavbar') %>
	
	<!-- Login-Form -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="form-title">Formulario de Registro</h2>
			</div>
		</div>
		<div class="col-12">
			<form action="/users/register" method="POST" enctype="multipart/form-data">

				<div class="row product-detail p-5">

                    <div class="col-12 col-md-6">
						<label for="fullName" class="form-label">Nombre Completo</label>

						<input 
							type="text" id="fullName" name="fullName" class="form-input"
							placeholder="Ej: Pedro Hernandez"
						 	value= "<%= locals.oldData ? oldData.fullName: null %>"
						>
						
						<% if (locals.errors && errors.fullName) { %>
							<div class="errorValidacion">
								<p><%= errors.fullName.msg %></p>
							</div> 
						<% } %>
					</div>	

					<div class="col-12 col-md-6">
						<label for="email" class="form-label">Correo Electrónico</label>

						<input 
							type="email" id="email" name="email" class="form-input"
							placeholder="Ej: pedro@gmail.com"
						 	value= "<%= locals.oldData ? oldData.email: null %>"
						>
						
						<% if (locals.errors && errors.email) { %>
							<div class="errorValidacion">
								<p><%= errors.email.msg %></p>
							</div> 
						<% } %>
					</div>					
				

				
					<div class="col-12 col-md-6">
						<label for="password" class="form-label">Contraseña</label>

						<input 
							type="password" id="password" name="password" class="form-input"
						>

						<% if (locals.errors && errors.password) { %>
							<div class="errorValidacion">
								<p><%= errors.password.msg %></p>
							</div> 
						<% } %>
					</div>

                    <div class="col-12 col-md-6">
						<label for="rePassword" class="form-label">Repetir Contraseña</label>

						<input 
							type="password" id="rePassword" name="rePassword" class="form-input"
						>

						<% if (locals.errors && errors.rePassword) { %>
							<div class="errorValidacion">
								<p><%= errors.rePassword.msg %></p>
							</div> 
						<% } %>
					</div>

                    <div class="col-12 col-md-6">
						<label for="country" class="form-label">Nacionalidad</label>
						
						<select name="country" id="country" class="form-input">
                            
                            <option value="">Elegí un país</option>

                            <% countries.forEach( country => { %>
                                <option 
                                    value="<%= country %>"
                                    <%= locals.oldData && oldData.country == country ? "selected" : null %> 
                                >
                                    <%= country %>
                                </option> 
                            <% }) %>

						</select>

						<% if (locals.errors && errors.country) { %>
							<div class="errorValidacion">
								<p><%= errors.country.msg %></p>
							</div> 
						<% } %>
					
					</div>
                    
                    <div class="col-12 col-md-6">
						<label for="image" class="form-label">Foto de Perfil</label>

						<input type="file" id="image" name="image"
						 	accept=".png, .jpeg, .jpg" 
						  	placeholder="Ingrese una foto" 
						   	class="form-file-input"
						>	

						<% if (locals.errors && errors.image) { %>
							<div class="errorValidacion">
								<p><%= errors.image.msg %></p>
							</div> 
						<% } %>					
					</div>

					<div class="col-12 my-5">
						<button type="submit" class="buy-now-button mx-auto">Ingresar</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	
	<%- include('../partials/footer') %>
</body>
</html>